@import url(footer.css);
@import url(header.css);
@import url(responsive.css);
@import url(social.css);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  background: #eae7e7;
}

/* custum font */
@font-face {
  font-family: customfont;
  src: url(../font/StarlightDEMO.ttf);
}


/* paragraphs */
h1, h2, h3, q {
  font-family: customFont;
}

h1 {
  
  font-size: 90px;
  color: rgb(108, 24, 24);
}

h2 {
  
  font-size: 30px;
  text-align: center;
  color: rgb(110, 36, 36);
}

h3 {
  
  font-size: 30px;
  color: rgb(108, 24, 24);
  text-align: center;
}

q {
  font-size: 25px;
}

.bio {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.img-ri {
  width: 70%;
  padding-left: 50px;
  border-color: black;
}

/* Blog Page */
.coping-blog {
  padding: 5px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.what-now-blog {
  padding: 5px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.par-miss {
  padding: 5px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.about {
  padding: 5px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.coping {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* left column */
.leftcolumn {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: 10px;
}

/* card effect*/
.card {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}



.parag {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.wmn {
  width: 100%;
  padding: 20px;
}

/* images */
.img {
  background: #faf6f6;
  width: 100%;
  padding: 10px;
}
.backgroung-card {
  background: #faf6f6;
  width: 100%;
  padding: 30px;
}

/* right column */

.rightcolumn {
  flex: 1;
  max-width: 380px;
  margin-top: 20px;
  margin-left: 10px;
}

.right-column-img {
  max-width: 100%;
  height: auto;
}

.right-img {
  max-width: 100%;
  height: auto;
}

.caption-img-right {
  font-family: customFont;
  font-size: 23px;
  color: rgb(108, 24, 24);
  text-align: center;
}

/*  floats columns */
.row:after {
  content: "";
  clear: both;
  display: table;
}

/* Read More Button */

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

